
*{
	
	backface-visibility: hidden;
	font-family: sans-serif;
	
		
	
		
	}





                                        /*Encabezado y Menu*/
.ventas-telefonicas{
	display: flex;
	border: 1px solid black;
	background: black;
	color: white;
	padding: 10px;
	font-size: 10px;

}

header{
	/*background-color: black;*/
	/*background-image:url("https://st3.depositphotos.com/1010683/14421/i/600/depositphotos_144217965-stock-photo-blurred-shopping-mall-background 1887x361.jpg") ;*/
	background-repeat: no-repeat;
	background-size: cover;



}



.imagLogo{
	
    padding-left: 29px;
   
    padding-bottom: 0px;
    height: 155px;
}


/* h1.titulo{
	text-align: center;
    margin-top: 28px;
    
    border: solid balck;
    height: 133px;
    font-style: oblique;
    font-size: 80px;
    font-family: system-ui;
    color: #33394c;
    padding: 10px 0px 140px;
} */

	

.tituloProductos{
	text-align: center;
	background-color: skyblue;
	color: white;
}

.Grid{																	/*Grid*/
	display: grid;
	grid-template-columns:1fr 1fr 1fr  ;
	grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
	border: 2 solid black;


}
#menu{
	display: flex;
    flex-direction: row;
    justify-content: center;
	
}


#menu .menulistas li a{
	
	display:block;
    text-decoration: none;
	color: pink;
	/* padding: 20px 150px; */
	

}
#menu .menulistas li a:hover{
	cursor: pointer;
}
#menu .menulistas li{
	padding: 0px 10px;
}
.menulistas{
	list-style-type: none;
	overflow: hidden;
	display: contents;
	background-color: black;
	
	

}
/* div.menu-backgroundimg{background-image: url(https://dnb2eg0emsxdz.cloudfront.net/cdn/13/images/curso-online-venta-en-perfumeria_l_primaria_1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
	opacity: 60%;
	margin: 10px;


}
div.menu-backgroundimg p {
	text-align: center;
	display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 240px;
    font-size: 30px;
    font-family: system-ui;
    font-variant-caps: petite-caps
} */


h2 {
	text-align: center;
	background-color:pink;
	color: white;
	text-decoration: underline;
}

div.img-contain{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

div.imgcontain:before {
	content: "";
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}
	
.imagenPerfumes{
	width: 100%;
	
}



											/* Tinturas*/
section.tinturasdepelo {
	background-image: url(./sistem.jpg);
	background-size: 65%;
	background-repeat: no repeat;
	background-position: center;



}

											/*Polvos Decolorantes*/
.polvos_decolorantes{
	background: whitesmoke;
}
.polvos_decolorantes_listas{
	color: blueviolet;
}
											/*Maquillaje*/
.maquillaje{
	background: whitesmoke;

}
.maquillaje_clase{
	color: blueviolet;
}
h3{display: block;
	margin-right: auto;
	margin-left: auto;
	
	/* color:skyblue ;
	background-color: white; */
	text-align: center;
	text-decoration: underline;
}
h3:hover{
	background-color: drimgray;
}

											/*Seccion Promos*/

.promos{
	display: flex;
	
	
	
	

                                                 /*CARDS*/
}
.container_card{
	width: 100%;
	max-width: 1200px;
	height: 430px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin: auto;
}
.container_card .card{
	width: 330px;
	height: 456px;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0, 0,0, 0,2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}
.container_card .card:hover{
	transform: translateY(-15px);
	box-shadow: 0 12ps 16px rgba(0,0, 0, 0.2)


}
.container_card .card img{
	width: 176px;
	height: 280px;

}

                                          /* Seccion Login*/
											/*Transition*/
input{
	width: 100px; height: 25px;
   transition: all 2s;       

}
#nombre {
	width: 350px;
	font-size: 18px;
	border-radius: 10px;
	height: 50px;
}
#Email{
	width: 350px;
	font-size: 18px;
	border-radius: 10px;
	height: 50px;
}
#pass{
	width: 350px;
	font-size: 18px;
	border-radius: 10px;
	height: 50px;
}
#comentario{
	width: 200px;
	font-size: 18px;
}
                                       
.formularioDeLogin{
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	margin: 0 auto;
	width: 50%;
	padding: 85px;
}
h1.tituloLogin{
	background-color: skyblue;
	color: white;
	text-align: center;
}
.bodyProductos{
	background-color:white ;
}
#Login{
	background-color: skyblue;
}

div.Redes{
	display: flex;
	align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}

.img-instagram{
	
	display: block;
}
.instagram{
	padding: 0px 105px;
}
.img-logo-face{
	width: 217px;
    padding: 14px;

}
.Redes a{
	padding: 0px 62px;
}
.face{
	display: flex;
    flex-direction: column-reverse;
}

.link-face{
	padding: 0px 0px 0px 81px;
}
.footer{
	/*background: linear-gradient(to left, white, skyblue);*/
}
.Copyright{
	font-size: 15px;
	text-align: center;
}
														/*Media Quaries*/
@media screen and (min-width: 375px) and (max-width: 768px)
{
	
 	h1.titulo{
       	
       	font-size: 0px;

       }
       img.imagLogo{
       	padding: 50px;
       	width: 300px;
       }
	   
	   }
	   
 
 
	


      
       
      /* @media screen and (max-width: 425px){
	header{
		color: antiquewhite;

		
		dis
*/
	
	
}
@media screen and (min-width: 425px) and (max-width: 768px){
	 div.menu-backgroundimg{
		display: none;  !important

	}
	
	
}
@media screen and  (min-width: 425px) and (max-width: 1024px){
	.VentasTelefonicas{
		font-size: 10px;

	}
	.container_card{
		width: 600px;
		height: 10%;
	}
	.card{
		width: 40%;
		height: 50%;
	}
	.img_card{
	 margin: 29px -26px;
	}
	h4{
		font-size: 15px;
	}
	p{
		display: none;
	}
}
@media screen and  (min-width: 425px) and (max-width: 1024px){
	.historia{
		opacity: 0%;
	}



}
.carrusel{
	width: 57%;
    margin: 0px 283px;
}
.menu{
    background: pink;
    background-color: pink;

}